<footer class="bg-secondary-subtle mt-auto" th:fragment="footerFragment" xmlns:th="http://www.thymeleaf.org">
    <div class="text-dark-emphasis mx-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="mb-3">About Steve's Archive</h5>
                    <p class="text-muted">The largest truly open library in history. Millions of books preserved forever</p>
                </div>

                <div class="col-md-2 mb-4 mb-md-0">
                    <h5 class="mb-3">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">Home</a></li>
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">Partners</a></li>
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">About Us</a></li>
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-2 mb-4 mb-md-0">
                    <h5 class="mb-3">Resources</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">Documentation</a></li>
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">FAQs</a></li>
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">Blog</a></li>
                        <li class="mb-2"><a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-dark-emphasis mx-2" href="#">Support</a></li>
                    </ul>
                </div>
                <!-- Needs Transition -->
                <div class="col-md-4">
                    <h5 class="mb-3">Connect With Us</h5>
                    <div class="mb-3">
                        <a class="text-dark-emphasis fs-4 mx-2" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="text-dark-emphasis fs-4 mx-2" href="#"><i class="bi bi-twitter-x"></i></a>
                        <a class="text-dark-emphasis fs-4 mx-2" href="#"><i class="bi bi-linkedin"></i></a>
                        <a class="text-dark-emphasis fs-4 mx-2" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="text-dark-emphasis fs-4 mx-2" href="#"><i class="bi bi-github"></i></a>
                    </div>
                    <p class="text-muted mb-2">
                        <i class="bi bi-envelope me-2"></i> info@stevesarchive.com
                    </p>
                    <p class="text-muted">
                        <i class="bi bi-telephone me-2"></i> +30 210 123 4567
                    </p>
                </div>
            </div>

            <div class="border border-top-5 border-secondary-subtle my-4"></div>

            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <span>&copy; 2026 Steve's Archive. All rights reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <a href="#" class="text-muted me-3">Privacy Policy</a>
                    <a href="#" class="text-muted me-3">Terms of Service</a>
                    <a href="#" class="text-muted">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>