<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Created</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

<header th:replace="~{fragments/header :: headerFragment}"></header>

<main class="p-3 text-center" style="min-height: 75vh;">
    <div class="d-flex flex-column justify-content-center align-items-center p-4 mx-auto bg-success border border-3 border-success-subtle rounded-2 text-white text-center mb-5" style="width: 60vw; min-height: 60vh;">
        <p class="fs-3 fw-bold mb-4">
            User created successfully!
        </p>
        <p class="fs-5 mb-2" th:text="${userReadOnlyDTO.uuid}"></p>
    </div>

    <div class="mt-3">
        <a class="btn btn-success" th:href="@{/login}">Login</a>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>

</body>
</html>